.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

.nav-logo {
	flex-shrink: 0;
}

.nav__list {
	display: flex;
	// justify-content: space-between;
	align-items: center;
	gap: 24px;

	a {
		font-weight: 450;
		font-size: 16px;
		line-height: 150%;
		color: #181818;
	}

	a:hover, a.active {
		color: #35aff4;
	}

	@include mobile {
		display: none;
	}
}

.nav__btns {
	display: flex;
	gap: 12px;

	@include mobile {
		display: none;
	}
}

.nav__icon {
	position: relative;
	z-index: 999999;
}