.title-1 {
	color: var(--text-color);
	font-size: 72px;
	font-weight: 700;
	font-style: normal;

	z-index: 10;

	&--decor {
		position: relative;
	}

	&--decor::after {
		content: "";
		
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 268px;
		height: 24px;

		z-index: -1;
		
		background-image: url('./../img/discover/underline.svg');
		background-repeat: no-repeat;
		
		@include tabletS {
			background-size: contain;
			width: 184px;
			height: 12px;
		}
		
	}

	@include tabletS {
		font-size: 42px;
	}

	@include mobile {
		font-size: 32px;
	}

	@include mobileS {
		font-size: 26px;
	}
}

.title-2 {
	margin: 1em 0 0.5em;
	font-size: 32px;
	font-weight: 700;
	font-family: var(--font-titles);
}

.title-3 {
	font-weight: 600;
	font-size: 36px;

	@include mobile {
		font-size: 28px;
	}
	
}

.title-4 {
	font-weight: 500;
	font-size: 24px;
	line-height: 140%;
	color: var(--text-muted);
}

.text {
    font-weight: 450;
    font-size: 18px;
    line-height: 150%;
    color: var(--text-muted);

	@include mobile {
        font-size: 16px;
		font-weight: 600;
    }
}

.muted {
	color: var(--text-muted);
}